body {
    margin: 0;
    padding: 0;
    background-image: url("https://ae01.alicdn.com/kf/HTB11bytOXXXXXawaFXXq6xXFXXXH/Howmay-100-seda-pura-tecido-chiffon-5-5-m-m-55-140-cm-natural-branco-de.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

header {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
}

span {
    font-size: 30px;
}

h2 {
    text-decoration: underline black;
}

#Reset {
    background-color: white;
    color: black;
}

button {
    background-color: black;
    color: white;
}

#countdown {
    border: black solid;
    border-radius: 30px;
    background-color: black;
    color: white;
}